# =========================
# Backend
# =========================

backend/vendor/

# =========================
# Frontend
# =========================

frontend/node_modules/

# =========================
# Environment
# =========================

.env
.env.*
docker-compose.override.yml

# =========================
# Logs
# =========================

*.log

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db
